<p-dataTable [value]="buyerList" [rows]="10" [paginator]="true" [rows]="5" [pageLinks]="5"
[rowsPerPageOptions]="[5,10,20]" [headerCheckboxToggleAllPages]="false" [editable]="true" exportFilename="buyers"
[lazy]="true" [totalRecords]="total">
    <p-header>List Of buyers
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-add" iconPos="left" label="Add" style="float: right"></button>
        </div>
    </p-header>
    <p-column field="id" header="Id"></p-column>
    <p-column field="avatar" header="Classification"></p-column>
    <p-column field="name" header="Type"></p-column>
    <p-column field="surname" header="Criteria"></p-column>
    <p-column field="birthDate" header="Restriction"></p-column>
    <p-column field="phone" header="Status"></p-column>
    <p-column field="email" header="Status"></p-column>
    <p-column field="password" header="Status"></p-column>

</p-dataTable>
