<p-dataTable [value]="buyerList" [rows]="10" [paginator]="true" [rows]="5" [pageLinks]="5"
[rowsPerPageOptions]="[5,10,20]" [headerCheckboxToggleAllPages]="false" [editable]="true" exportFilename="buyers"
[lazy]="true" [totalRecords]="total">
    <p-header>List Of buyers
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-add" iconPos="left" label="Add" style="float: right"></button>
        </div>
    </p-header>
    <p-column field="contractId" header="Id"></p-column>
    <p-column field="classification" header="Classification"></p-column>
    <p-column field="type" header="Type"></p-column>
    <p-column field="criteria" header="Criteria"></p-column>
    <p-column field="restriction" header="Restriction"></p-column>
    <p-column field="status" header="Status"></p-column>
</p-dataTable>
