@import url('../../assets/css/style.css');
main {
  width: 121%;
  text-align: center;
}
p-galleria >>> .ui-galleria-panel-wrapper img {
  width: 100vw;
  height: 100vh;
}
p-galleria >>> .ui-galleria {
  width: 100vw;
  height: 100vh;
}
#intro {
  overflow: hidden;
  background: #575757;
}
#msgSubmit {
  background: rgb(20,20,20,0.5);
  border: 2px rgba(236, 156, 135) outset;
  border-radius: 5px;
}
#msgSubmit:hover {
  transition: 0.5s ease-in-out;
  color: white;
  background: rgba(6, 97, 235, 0.7);
}
.scrollDown {
  border: 2px powderblue outset;
  background: rgb(20,20,20,0.5);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.scrollDown>i {
  color: white;
   margin-top: 40%;
}
.scrollDown:hover {
  transition: 0.5s ease-in-out;
  background: rgba(248, 91, 18, 0.7);
}
p-galleria >>> .ui-galleria {
  margin-bottom: 100px;
}
.scrollNext {
  border: 2px rgb(248, 151, 138) outset;
  background: rgb(20,20,20,0.5);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.scrollNext>i {
  color: white;
   margin-top: 40%;
}
.scrollNext:hover {
  transition: 0.5s ease-in-out;
  background: rgba(6, 97, 235, 0.7);
}
.og-grid img {
  width: 300px;
  height: 250px;
}
@media (max-width: 999px) and (min-width: 350px) {
  main {
    margin-left: -80px;
  }
  p-galleria >>> .ui-galleria-panel-wrapper img {
    width: 100%;
    height: 50%;
  }
  p-galleria >>> .ui-galleria {
    max-height: 413px;
    margin-bottom: 100px;
  }

}
