<div class="container">
  <header>

  <div class="tagline">

    <h1>Find Your Ideal <br/>  Cargo Space Solution in Minutes</h1>
    <p>This web portal provides the best platform to bring people together with the potential to meet each other's supply and demand needs.</p>
    <div>
        <a href="#" class="contact">Get Started</a>
        <a href="#" class="learn-more">Learn More</a>
    </div>

  </div>

  <p-galleria [showFilmstrip]="false" [images]="images" panelWidth="100vw" showCaption="true"></p-galleria>


 <div class="overlay"></div>
</header>
<main>
  <div class="intro">
    <h3>Show the world what you can offer.</h3>
      <p>
          When you register as a supplier the world of potential buyers would be unlocked for your services. The platform will allow you to add listings of available space that you would like to offer to potential buyers. These offerings can also be categorized according to the mode of transit, origin and destination, and specifications such as dimensions or space description.
           </p>
  </div>

  <div class="multi-section">
    <img src="/assets/img/Comms-Hub.jpg" />
    <div>
      <h3>Real-Time Interaction Hub</h3>
      <p>We provide a fully integrated communications platform where buyers and suppliers can meet to discuss offerings, and negotiate each other's supply and demand terms and conditions.</p>
    </div>
  </div>
  <div class="intro">
      <h3>Ask the world what you're looking for.</h3>
        <p>
            When you register as a buyer the world of potential suppliers would be instantly available to meet your space requirements. The platform will present a listing of available space that is currently being offered in a catalog styled view.
            These offerings are categorized according to the mode of transit, origin and destination, and specifications such as dimensions or space description.
             </p>
    </div>
  <div class="multi-section-two">
      <img class="a" src="/assets/img/galleria8.jpg" />
      <div class="b">
        <h3>Have full control</h3>
        <p>Manage your online profile, add new contacts or edit existing ones, track exchanges currently in progress or view exchange history.
          A dynamic dashboard presents all the data needed to keep you informed and on track with all the activities taking place on your SpaceXperience.   </p>
      </div>
  </div>

  <div>
    <h3>Ready To Start Your SpaceXperience?</h3>
    <p>Now is the time and this is the place to discover the future of global trading.</p>
    <a href="#" class="contact">Take Tour </a>
  </div>
</main>
<footer>
  <ul>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Log in</a></li>
  </ul>
  <ul>

      <li><a href="#">DesignTools</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Support</a></li>
  </ul>
  <ul>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Get Started</a></li>

  </ul>
  <ul>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  </ul>

</footer>
</div>
