.ui-multiselect-label-container {
  background-color: red !important;
}
p-accordion>>>.ui-accordion-header a{
  text-decoration: transparent;
}

.project
{
  margin-top: 2px;
}
label {
  margin-top: 5px;
}
p-rating >>> .ui-rating a {
  text-decoration: none;
}
button {
  margin-top: 1em;
}

p-radioButton {
 display:block;
 margin: .7em;
}

p-listbox >>> .ui-listbox {
 width: 140%;
}
  p-fieldset >>> .ui-fieldset {
    width: 100%;
  }
p-listbox >>> .ui-listbox-list-wrapper {
  height: 550px;
  width: 100%;


}
.contactmng-panel
{
  width: 100%;
}

.avatar {
 float: left;
 margin: 5px;
 padding-right: 10%;
}

.devName {
 font-size: xx-large;
 display:inline-block;
 margin:15px 10px 0 10px;
 min-height: 100px;
}
.devs
{
  width: 100px;
  height: 100px;
}
p-rating {
 font-size: xx-large;
}

#ratingLabel {
 margin-top: 20px;
}
.iconContainer {
	display: inline-block;
	border-right: 1px solid #ccc;
	height: 35px;
	width: 35px;
	/*margin-left: -30px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

	.iconContainer i {
		top: 5px;
		left: 5px;
		position: relative;
		color: #54626c;
  }
  .inputContainers {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;

}

.inputContainer {
    /*display: inline;*/
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    /*left: 50%;
    margin-left: -125px;*/
    height: 36px;
    overflow: hidden;
    margin-top: 10px;
}

.inputHolder {

  border: none;
  background: none;
  margin-left: -5px;
  width: 90%;
  height: 36px;

}

