<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="ui-g-12" style="margin-top: 8px;" >
    <p-panel header="Add Contact" class="ui-g-12">

        <div class="ui-g">

           
            <div class="ui-g-5 inputContainers">
                    <div class="inputContainer">
                            <div class="iconContainer" >
                                <i class="material-icons">perm_identity</i>
                            </div>
                            
                                <input class="inputHolder" type="text" id="projectId" required formControlName="names"  placeholder="  Name Surname" />
                            
                        
                    </div>
                <div class="inputContainer">
                    <div class="iconContainer" >
                        <i class="material-icons">phone_android</i>
                    </div>
                    
                        <p-inputMask  class="inputHolder" mask="999-999-9999" id="projectId" formControlName="phoneNumber" placeholder="123-456-7890" slotChar="X" ></p-inputMask>

                   
                </div>
                <div class="ui-g-12 ui-md-5">

                    <at-fielderrors [form]="projectForm" field="phoneNumber" nicename="Phone Number"> </at-fielderrors>
    
    
                </div>
           
                <div class="inputContainer">
                    <div class="iconContainer" >
                        <i class="material-icons">mail_outline</i>
                    </div>
                    
                        <input class="inputHolder" type="email" id="projectId" required formControlName="emailAddress"  placeholder="  name.surname@example.com" />
                
                </div>
            </div>
        
            <div class="ui-g-12 ui-md-5">

                <at-fielderrors [form]="projectForm" field="emailAddress" nicename="Email Address"> </at-fielderrors>


            </div>
        </div>
<p-panel header="Description" class="ui-g-10">
    <div class="ui-g">
                
        <p-fieldset class="ui-g-12">
            <p-editor id="description" formControlName="description" class="ui-g-12" [style]="{'height':'200px'}"></p-editor>

            <div class="ui-g-12">
                <at-fielderrors [form]="projectForm" field="description" nicename="Description"> </at-fielderrors>
            </div>
        </p-fieldset>
        
    </div> 
</p-panel>
        
        <h1></h1>
<p-panel header="Types" class="ui-g-10">
               
        <div class="ui-g">           
                 <p-fieldset class="ui-g-10">
                <p-radioButton name="projGroup" label="Buyer" value="B" formControlName="contactType"></p-radioButton>
                <p-radioButton name="projGroup" label="Passenger" value="P" formControlName="contactType"></p-radioButton>
                <p-radioButton name="projGroup" label="Supplier" value="S" formControlName="contactType"></p-radioButton>
                <p-radioButton name="projGroup" label="Driver" value="D" formControlName="contactType"></p-radioButton>


            </p-fieldset>      
        </div>
</p-panel>
<p-panel header="Update Contacts" class="ui-g-10">
        <div class="ui-g">
            <p-fieldset class="ui-g-10">
                <p-listbox id="devs" [options]="allDevs" [multiple]="true" [filter]="true" formControlName="selectedContacts" class="ui-g-12 ui-md-10">
                    <ng-template let-dev pTemplate="item">
                        <img src="http://i.pravatar.cc/100?u={{dev.label}}" class="avatar" />
                        <span class="devName">{{dev.value}}</span>
                    </ng-template>
                </p-listbox>
            </p-fieldset>

        </div>
</p-panel>
<p-panel header="Ratings" class="ui-g-10">
        <div class="ui-g">
            <label id="ratingLabel" for="rating" class="ui-g-12 ui-md-2">Contact Rating</label>
            <p-rating id="rating" formControlName="rating" class="ui-g-12 ui-md-5" [cancel]="false"></p-rating>
            <pre class="ui-g-12 ui-md-5">{{ projectForm.getRawValue() | json }}</pre>

        </div>
</p-panel>




        <button class="ui-g-2" pButton type="submit" [disabled]="hasFormErrors()" label="Save" icon="fa-floppy-o"></button>

    </p-panel>
</form>