<div class="timesheet header ui-g-12" style="margin-left: 10px;">
  <h2>
    {{ "Exchanges" }}
  </h2>
  <h3>
    {{ dateAndMonth }}
  </h3>
</div>
<div class="ui-g-12" style="margin-left: 3px;">
<p-tabView class="u-g-12 tabs" (onChange)="onChangeTabs($event)">
  <p-tabPanel *ngFor="let tab of months" header="{{tab}}">

    <p-dataScroller [value]="getTimesForDay(tab)" [rows]="10">

      <ng-template let-car pTemplate="item" let-i="index">
         <p-panel class="text-center" header="{{car.day}} {{car.month}} 2018">
            <div class="ui-g car-item">
              <div class="ui-g-12 ui-md-5">
                  <img width="300px" height="200px" src="../../assets/img/{{car.avatar}}">
              </div>
              <div class="ui-g-12 ui-md-7">
                  <div class="ui-g text-center">
                      <div class="ui-g-3 ui-sm-6"><pre>Category: </pre></div>
                      <div class="text-left ui-g-9 ui-sm-6"><pre>{{car.project}}</pre></div>

                      <div class="ui-g-3 ui-sm-6"><pre>Type: </pre></div>
                      <div class="text-left ui-g-9 ui-sm-6"><pre>{{car.category}}</pre></div>

                      <div class="ui-g-3 ui-sm-6"><pre>From: </pre></div>
                      <div class="text-left ui-g-9 ui-sm-6"><pre>{{car.startTime}}</pre></div>

                      <div class="ui-g-3 ui-sm-6"><pre>To: </pre></div>
                      <div class="text-left ui-g-9 ui-sm-6"><pre>{{car.endTime}}</pre></div>
                  </div>
              </div>
          </div>
        </p-panel>
      </ng-template>
  </p-dataScroller>

  </p-tabPanel>
</p-tabView>

<button pButton label="Edit Entry" (click)="displayEditDialog = true"></button>
</div>

<p-dialog header="Change Details" [modal]="true" [(visible)]="displayEditDialog" [ngSwitch]="dialogPageIndex" width="700"
          height="550">

  <div class="dialogBody">
    <p-steps [model]="dialogPages" [(activeIndex)]="dialogPageIndex" [readonly]="false">

    </p-steps>

    <div *ngSwitchCase="PageNames.TimePage">

      <p-schedule [events]="events" [header]="headerConfig" styleClass="calendar" defaultView="agendaWeek"
                  [editable]="true" [nowIndicator]="true"
                  [allDaySlot]="false">

      </p-schedule>

    </div>
    <div *ngSwitchCase="PageNames.ProjectPage">

      <p-tree [value]="projectsTree" layout="horizontal" selectionMode="single"
              [(selection)]="selectedProject"></p-tree>

    </div>
    <div *ngSwitchCase="PageNames.PlacePage">

      <p-gmap [options]="mapOptions" [overlays]="mapOverlays" styleClass="gmap"
              (onOverlayClick)="onMarkerClick($event)"></p-gmap>

    </div>
    <div *ngSwitchCase="PageNames.PeoplePage">

      <p-dataGrid [value]="people" [paginator]="true" [rows]="4">
        <ng-template let-person pTemplate="item">
          <p-panel header="{{person.firstName}} {{person.lastName}}" class="ui-g-12 ui-md-3">
            <img [src]="person.avatar" [pTooltip]="person.email" tooltipPosition="bottom"/>
          </p-panel>
        </ng-template>
      </p-dataGrid>

    </div>
  </div>


  <p-footer>
    <button pButton label="Save" icon="fa-check" (click)="saveNewEntry()"></button>
    <button pButton label="Cancel" icon="fa-times" (click)="cancelDialog()" class="ui-button-secondary"></button>
  </p-footer>

</p-dialog>


<p-confirmDialog icon="fa fa-question-circle" width="425" [visible]="false" #confirmDialog>

  <p-footer>
    <button type="button" pButton icon="fa-close" label="No, go back" (click)="confirmDialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Yes, lose changes"
            (click)="confirmDialog.accept() && confirmDialog.hide()"></button>
  </p-footer>


</p-confirmDialog>

<p-growl [value]="messages"></p-growl>
