<div class="profile header ui-g-12" >
    <h2>
        Profile Info
    </h2>
    <h3>
        Galleria Drag and Drop
    </h3>
</div>

<p-panel header="My Profile Picture" styleClass="profileDet" class="ui-g-12 ui-md-4 panel-content" pDroppable="profilePic" (onDrop)="onPicDrop()">

    <img id="profilePic" *ngIf="profileImage; else showDropDiv" [src]="profileImage" class="ui-g-12" />

    <ng-template #showDropDiv>
        <span id="drop-message" class="ui-g-12">Drop Your Image Here</span>
    </ng-template>

</p-panel>

<div class="spacer ui-g-12 ui-md-1"></div>

<p-galleria #galleria [images]="images" class="ui-g-12 ui-md-7" panelWidth="300" panelHeight="298" [showCaption]="true" pDraggable="profilePic" dragHandle=".ui-panel-images" (onImageClicked)="onImageSelected($event)"
(onDragStart)="onDragStart(galleria)">
</p-galleria>
   <p-panel header="Profile Editor" styleClass="profilePic" class="ui-g-12">
        <div class="ui-g">
 
    <p-tabView class="ui-g-12">
        <p-tabPanel header="General Info" leftIcon="pi pi-calendar" class="ui-g-7">
            <div [formGroup]="registerForm" class="ui-g-12">
      
          <div class="inputContainers">
                <div class="inputContainer" [ngSwitch]="editName">
                        <div class="iconContainer" >
                            <i class="material-icons">account_circle</i>
                        </div>
                            <label *ngSwitchCase="false" class="ui-md-10 inputHolder">{{name}}</label>
                            <input *ngSwitchCase="true" class="ui-md-10 inputHolder" [value]="registerForm.controls['regName'].value" pInputText type="text" id="projectId" required formControlName="regName"  placeholder="Name" />
                           
                    </div>
                    <button type="button" pButton icon="{{iconName}}" (click)="editNames();" label="{{labelName}}" class="ui-g-2 btnEdit" ></button>
            
                    <div class="ui-g-12 ui-md-5">
            
                            <at-fielderrors [form]="registerForm" field="regName" nicename="Name"> </at-fielderrors>
            
            
                        </div>
                        <div class="inputContainer" [ngSwitch]="editSurname">
                          <div class="iconContainer" >
                              <i class="material-icons">account_circle</i>
                          </div>
                          <label *ngSwitchCase="false" class="ui-md-10 inputHolder">{{surname}}</label>
                              <input *ngSwitchCase="true" class="ui-md-10 inputHolder" [value]="registerForm.controls['regSurname'].value" pInputText type="text" id="projectId" required formControlName="regSurname"  placeholder="Surname" />
                          
                      </div>
                      <button type="button" pButton icon="{{iconSurname}}" (click)="editSurnames();" label="{{labelSurname}}" class="ui-g-2 btnEdit" ></button>
            
                      <div class="ui-g-12 ui-md-5">
              
                              <at-fielderrors [form]="registerForm" field="regSurname" nicename="Surname"> </at-fielderrors>
              
              
                          </div>
            <div class="inputContainer" [ngSwitch]="editPhone">
                <div class="iconContainer" >
                    <i class="material-icons">phone_android</i>
                </div>
                    <label *ngSwitchCase="false" class="ui-md-10 inputHolder">{{phone}}</label>                    
                    <p-inputMask *ngSwitchCase="true" width="100" class="inputHolder" mask="999-999-9999" id="projectId" formControlName="regPhoneNumber" placeholder="123-456-7890" slotChar="X" ></p-inputMask>
            
               
            </div>
            <button type="button" pButton icon="{{iconPhone}}" (click)="editPhones();" label="{{labelPhone}}" class="ui-g-2 btnEdit" ></button>
                   
            <div class="ui-g-12 ui-md-5">
            
                <at-fielderrors [form]="registerForm" field="regPhoneNumber" nicename="Phone Number"> </at-fielderrors>
            
            
            </div>
            
            <div class="inputContainer" [ngSwitch]="editEmail">
                <div class="iconContainer" >
                    <i class="material-icons">mail_outline</i>
                </div>
                    <label *ngSwitchCase="false" class="ui-md-10 inputHolder">{{email}}</label>
                    <input *ngSwitchCase="true" class="ui-md-10 inputHolder" [value]="registerForm.controls['regEmailAddress'].value" type="email" id="projectId" required formControlName="regEmailAddress"  placeholder="name.surname@example.com" />
                
            </div>
            <button type="button" pButton icon="{{iconEmail}}" (click)="editEmails();" label="{{labelEmail}}" class="ui-g-2 btnEdit" ></button>
                       
            <div class="ui-g-12 ui-md-5">
            <at-fielderrors [form]="registerForm" field="regEmailAddress" nicename="Email Address"> </at-fielderrors>
            </div>
            
            <div class="inputContainer" >
                <div class="iconContainer" >
                    <i class="material-icons">date_range</i>
                </div>
                
                <label *ngIf="editDate == false" class="ui-md-10 inputHolder"> Birth Date</label>
              </div>
              <p-calendar *ngIf="editDate == true" [(ngModel)]="date" class="inputHolder" formControlName="regDOB" [inline]="true" ></p-calendar>
                
              <button type="button" pButton icon="{{iconDate}}" (click)="editDates();" label="{{labelDate}}" class="ui-g-2 btnEdit" ></button>
                  
            <div class="ui-g-12 ui-md-5 ">
            <at-fielderrors [form]="registerForm" field="regDOB" nicename="Birth Date"> </at-fielderrors>  </div>
            </div>
            
            </div>
            
            <p-footer class="ui-g-12">
                <button type="button" pButton icon="fa fa-check"  (click)="register=false" label="Save"></button>
                <button type="button" pButton icon="fa fa-close" (click)="register=false" label="Discard" class="ui-button-secondary"></button>
            </p-footer>
        </p-tabPanel>
        </p-tabView>
    </div>
        </p-panel>
    
<p-growl [value]="messages"></p-growl>