<div class="ui-g">


  <at-statistic label="On The Way" value="6" icon="fa-clock-o" colour="#00ACAC" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


  <at-statistic label="Online" value="35" icon="fa-users" colour="#2F8EE5" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


  <at-statistic label="Contacts" value="23" icon="fa-mobile" colour="#6C76AF" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


  <at-statistic label="Exchanges" value="4" icon="fa-area-chart" colour="#EFA64C" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


</div>

<div class="ui-g">

  <p-panel header="Space Management" class="ui-g-12 ui-md-6">
    <p-chart type="pie" [data]="hoursByProjectChartData"
    [options]="chartOptions"></p-chart>
  </p-panel>

  <p-panel header="Passenger Management" class="ui-g-12 ui-md-6">
    <p-chart type="doughnut" [data]="hoursByProjectChartData"></p-chart>
  </p-panel>

</div>

<div class="ui-g">

  <p-panel header="Exchange History" class="ui-g-12 ui-md-6">
    <p-chart type="bar" [data]="hoursByTeamChartData"></p-chart>
  </p-panel>

  <p-panel header="Trip History" class="ui-g-12 ui-md-6">
    <p-chart type="line" [data]="hoursByTeamChartData"></p-chart>
  </p-panel>

</div>

<div class="ui-g">

  <p-panel header="Trips By Road (radar)" class="ui-g-12 ui-md-6">
    <p-chart type="radar" height="150" [data]="hoursByTeamChartData"></p-chart>
  </p-panel>

  <p-panel header="Trips By Sea (mixed)" class="ui-g-12 ui-md-6">
    <p-chart type="bar" [data]="hoursByTeamChartDataMixed" #mixedChart
    (onDataSelect)="onDataSelect($event)"></p-chart>
  </p-panel>

</div>
