<div class="alltimesheets ui-g">


  <div class="header ui-g-12 ">

    <h2>
      Marketplace
    </h2>
    <h3>
      Deliveries | Trips | Storage
    </h3>
    
   
  
  </div>
<div class="ui-g-12">
  <p-dataScroller [value]="allProjectNames" [rows]="3">
    
    <ng-template let-cars pTemplate="item" let-i="index" >
        <div class="ui-g-12">
           <p-carousel headerText="{{cars}}" [value]="allTimesheetData">
        <ng-template let-car pTemplate="item">
            <div class="ui-grid ui-grid-responsive" style="margin-left: 25%">
                <div class="ui-grid-row ui-g-12">
                    <div style="margin-left: 15%;" class="ui-grid-col-12 ui-grid-responsive"><img src="{{car.avatar}}" width="100"> <h2></h2>
                    </div>
                 </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-5">Supplier</div>
                    <div class="ui-grid-col-6">{{car.user}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-5">Category</div>
                    <div class="ui-grid-col-6">{{car.category}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-5">Departure</div>
                    <div class="ui-grid-col-6">{{car.startTime}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-5">Arrival</div>
                    <div class="ui-grid-col-6">{{car.endTime}}</div>
                </div>
                <div class="ui-grid-row ui-g-12">
                    <div class="ui-grid-col-10" >
                        <h1> </h1>
                  
                        <button type="button" class="ui-g-5" label="Book" pButton icon="fa fa-shopping-cart" (click)="selectCar(car)"></button>
                        <button type="button" class="ui-g-5" label="View" pButton icon="fa fa-street-view" (click)="viewDetails(car.id -1)"></button>
                    
                      </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
           
        </div>
    </ng-template>
</p-dataScroller>
</div>

<p-dialog [(visible)]="viewDetail" [modal]="true" [responsive]="true" [width]="750" [minWidth]="450" 
[baseZIndex]="9999999999">
  <p-header class="header">Profile</p-header>
  
             
    <div class="ui-md-12 inputContainers">
            <img class="ui-g-offset-2" src="{{avatar}}" width="150" height="150"/>
  
          <div class="inputContainer">
                  <div class="iconContainer" >
                      <i class="material-icons">account_circle</i>
                  </div>
                  
                      <label class="ui-md-10 inputHolder">{{user}}</label>
              </div>
              
                  <div class="inputContainer">
                    <div class="iconContainer" >
                        <i class="material-icons">mail_outline</i>
                    </div>
                    
                        <a href="{{email}}" class="ui-md-10 inputHolder">{{email}}</a>
                </div>
               
      <div class="inputContainer">
          <div class="iconContainer" >
              <i class="material-icons">phone_android</i>
          </div>
          
              <a href="tel:{{phone}}" class="ui-md-10 inputHolder">{{phone}}</a>
         
      </div>         
      
      <div class="inputContainer">
          <div class="iconContainer" >
              <i class="material-icons">location_on</i>
          </div>
          
              <a class="ui-md-10 inputHolder unstyled" href="https://www.google.co.za/maps/place/{{startDate}}" id="projectId" >{{startDate}}</a>
                <i class="fa fa-globe"></i>  <i class="fa fa-chevron-right"></i> <a class="ui-md-10 inputHolder unstyled" href="https://www.google.co.za/maps/place/{{endDate}}" id="projectId" >{{endDate}}</a>
          
      </div>
      
      
      <div class="inputContainer">
          <div class="iconContainer" >
              <i class="material-icons">local_shipping</i>
          </div>
          
              <label class="ui-md-10 inputHolder">{{category}}</label>
       </div>
       <div class="inputContainer">
        <div class="iconContainer" >
            <i class="material-icons">update</i>
        </div>
        
            <label class="ui-md-10 inputHolder">{{depDate}}</label>
     </div>
     <div class="inputContainer">
            <div style="float: left;" class="iconContainer" >
                <i class="material-icons">stars</i>
                
            </div>
            <span style="padding-left: 15px;" class="ui-g-12 inputHolder"><p-rating [ngModel]="rating" readonly="true" stars="5" [cancel]="false"></p-rating></span>
    
    </div>
    
       </div>
       </p-dialog>

<p-contextMenu #tableContextMenu [model]="contextMenu"></p-contextMenu>

<p-growl [value]="messages"></p-growl>
</div>