<br/>
<div style="margin-left: 10px;">
<p-panel>
  <p-header>Listing Management</p-header>
  <button style="float: right;" (click)="addNew()" pButton icon="fa fa-plus"></button>

  <p-tabView>
   <p-tabPanel header="Current Listings">
      <p-dataGrid [value]="people" [paginator]="true" [rows]="4">
          <ng-template let-person pTemplate="item">
            <p-panel header="{{person.firstName}} {{person.lastName}}" class="ui-g-12 ui-md-3">
              <button pButton icon="fa fa-close" style="margin: -60px -15px 0 0; float: right;"></button>
              <img [src]="person.avatar" [pTooltip]="person.email" tooltipPosition="bottom"/>
              <p>{{person.firstName}}</p>
              <button style="padding: 5px 10px;" label="Preview" pButton></button>
              <button style="padding: 5px 10px;" label="Edit" pButton></button>
          </p-panel>
          </ng-template>
        </p-dataGrid>
  </p-tabPanel>
  <p-tabPanel header="Historic Listings">
      <p-dataGrid [value]="people" [paginator]="true" [rows]="4">
          <ng-template let-person pTemplate="item">
            <p-panel header="{{person.firstName}} {{person.lastName}}" class="ui-g-12 ui-md-3">
              <button pButton icon="fa fa-close" style="margin: -60px -15px 0 0; float: right;"></button>
              <img [src]="person.avatar" [pTooltip]="person.email" tooltipPosition="bottom"/>
              <p>{{person.firstName}}</p>
              <button style="padding: 5px 10px;" label="Preview" pButton></button>
              <button style="padding: 5px 10px;" label="Edit" pButton></button>
          </p-panel>
          </ng-template>
        </p-dataGrid>
  </p-tabPanel>
  <p-tabPanel header="Payments">
  </p-tabPanel>
</p-tabView>

</p-panel>
</div>
